In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("company_data.csv")
df.columns

Index(['Year', 'Ticker', 'Environmental Disclosure Score', 'GHG Scope 1',
       'Total Energy Consumption', 'Change_in_EDS', 'Change_in_GHG',
       'Change_in_TEC', 'Ratio of GHG Emissions to Total Assets',
       'Ratio of GHG Emissions to Total Sales',
       'Ratio of Total Energy Consumption to Total Assets',
       'Ratio of Total Energy Consumption to Total Sales', 'cusip', 'Company',
       'Total_Assets', 'Net_Income', 'Total_Sales', 'cik', 'Change_in_Sales',
       'Change_in_Assets', 'Change_in_NI', 'ROA', 'Profit_Margin',
       'Annual Return', 'Logarithm_Total_Assets', 'Logarithm_Total_Sales',
       'Profitable'],
      dtype='object')

In [ ]:
df[['GHG Scope 1','Total_Assets','Total_Sales']].head(15)

    GHG Scope 1  Total_Assets  Total_Sales
0           NaN       18162.0       6780.0
1           NaN       19578.0       6880.0
2           NaN       20728.0       7546.0
3           NaN       22657.0       7839.0
4           NaN       23790.0       7090.0
5           NaN       23515.0       7638.0
6           NaN       23645.0       7531.0
7           NaN       21835.0       6828.0
8       32978.0       21042.0       5838.0
9       30675.0       22676.0       6053.0
10      28548.2       23640.0       6098.0
11      26795.6       24699.0       6076.0
12      30200.4       25945.0       6177.0
13      29588.0       27215.0       6291.0
14      24413.7       28933.0       5910.0

In [ ]:
da=df[['GHG Scope 1','Total_Assets','Total_Sales']]

In [ ]:
dn=da.dropna()
dn

     GHG Scope 1  Total_Assets  Total_Sales
8        32978.0       21042.0       5838.0
9        30675.0       22676.0       6053.0
10       28548.2       23640.0       6098.0
11       26795.6       24699.0       6076.0
12       30200.4       25945.0       6177.0
..           ...           ...          ...
775     118000.0      336758.0     236810.0
776     120000.0      330314.0     197518.0
777     117000.0      348691.0     237162.0
778     119000.0      346196.0     279332.0
779     114000.0      362597.0     255583.0

[398 rows x 3 columns]

In [ ]:
X = dn.iloc[:, 1:3].values
y = dn.iloc[:, 0].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
print(regressor.intercept_)
print(coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient']))

8051.399968329079

AttributeError: ignored

In [ ]:
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

      Actual      Predicted
0     3577.3   15212.450226
1   119000.0  129202.217025
2     3410.0   15292.058240
3    14296.5   13591.750163
4    32000.0   18793.153300
..       ...            ...
75   19503.9   16332.792194
76    3200.0   18700.183593
77   31207.0   17774.777860
78   42354.9   22217.844498
79   12200.0   28305.493504

[80 rows x 2 columns]

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 18676.830253094093
Mean Squared Error: 596373921.626923
Root Mean Squared Error: 24420.76824399517

In [ ]:
r2 = regressor.score(X_train, y_train)
print('R^2: {0}'.format(r2))

R^2: 0.43150016760444276