In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df=pd.read_csv('EE-ISIN_merged.csv')
df.head()

   Unnamed: 0          ISIN  Year  ...                conm  fic     sic
0           0  MYL1818OO003  2019  ...  BURSA MALAYSIA BHD  MYS  6200.0
1           1  GB0031638363  2019  ...  INTERTEK GROUP PLC  GBR  8700.0
2           2  ZAE000079711  2019  ...         JSE LIMITED  ZAF  6211.0
3           3  FR0006174348  2019  ...   BUREAU VERITAS SA  FRA  8700.0
4           4  GB0007370074  2019  ...         RICARDO PLC  GBR  8711.0

[5 rows x 43 columns]

In [ ]:
EI_2019 = df[df['Year'] == 2019]
EI_2019.head()
df1=list(EI_2019['EnvironmentalIntensity(Sales)'])
def p2f(x):
    return float(x.strip('%'))/100
for i in range(0, len(df1)):
    df1[i] = p2f(df1[i])
df1

Get the average of Environmental Intensity of 2019

In [ ]:
def Average(lst):
    return sum(lst) / len(lst)
df['average2019']=Average(df1)
print(df['average2019'])

0       -0.128738
1       -0.128738
2       -0.128738
3       -0.128738
4       -0.128738
           ...
10991   -0.128738
10992   -0.128738
10993   -0.128738
10994   -0.128738
10995   -0.128738
Name: average2019, Length: 10996, dtype: float64

Get the average of Enviornmental Intensity of 2018 and 2017

In [ ]:
EI_2018 = df[df['Year'] == 2018]
df2=list(EI_2018['EnvironmentalIntensity(Sales)'])
EI_2017 = df[df['Year'] == 2017]
df3=list(EI_2017['EnvironmentalIntensity(Sales)'])

In [ ]:
for i in range(0, len(df2)):
    df2[i] = p2f(df2[i])

In [ ]:
for i in range(0, len(df3)):
    df3[i] = p2f(df3[i])

In [ ]:
df['average2018']=Average(df2)
print(df['average2018'])
df['average2017']=Average(df3)
print(df['average2017'])

0       -0.103059
1       -0.103059
2       -0.103059
3       -0.103059
4       -0.103059
           ...
10991   -0.103059
10992   -0.103059
10993   -0.103059
10994   -0.103059
10995   -0.103059
Name: average2018, Length: 10996, dtype: float64
0       -0.104129
1       -0.104129
2       -0.104129
3       -0.104129
4       -0.104129
           ...
10991   -0.104129
10992   -0.104129
10993   -0.104129
10994   -0.104129
10995   -0.104129
Name: average2017, Length: 10996, dtype: float64

In [ ]:
df[['average2019','average2018','average2017']]

       average2019  average2018  average2017
0        -0.128738    -0.103059    -0.104129
1        -0.128738    -0.103059    -0.104129
2        -0.128738    -0.103059    -0.104129
3        -0.128738    -0.103059    -0.104129
4        -0.128738    -0.103059    -0.104129
...            ...          ...          ...
10991    -0.128738    -0.103059    -0.104129
10992    -0.128738    -0.103059    -0.104129
10993    -0.128738    -0.103059    -0.104129
10994    -0.128738    -0.103059    -0.104129
10995    -0.128738    -0.103059    -0.104129

[10996 rows x 3 columns]

In [ ]:
for i in range(0, len(df)):
    df['EnvironmentalIntensity(Sales)'][i] = p2f(df['EnvironmentalIntensity(Sales)'][i])
y = df['EnvironmentalIntensity(Sales)']
X= df[['average2019','average2018','average2017']]
x_train, x_test, y_train, y_test = train_test_split(X ,y, test_size = 0.2, random_state = 42)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df['EnvironmentalIntensity(Sales)']

0       -0.0168
1       -0.0153
2       -0.0146
3        -0.007
4       -0.0067
          ...
10991   -0.0275
10992   -0.0224
10993   -0.0171
10994   -0.0139
10995   -0.0042
Name: EnvironmentalIntensity(Sales), Length: 10996, dtype: object

In [ ]:
# train Linear Regression
LRtrainer = LinearRegression()
LRtrainer.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# mse for linear regression
y_pred_lr = LRtrainer.predict(x_test)
print(mean_squared_error(y_pred_lr, y_test))

4.722366482856857e+21

In [ ]:
# display the parameters
print('Model intercept: ', LRtrainer.intercept_)
print('Model coefficients: ', LRtrainer.coef_)

Model intercept:  -5.6528982896919604e+26
Model coefficients:  [ 7.45547427e+26 -8.91760891e+27  2.47550468e+27]