# Sprint 6 - Predicting future environmental intensity (Time Series)

In this notebook, we will predict future environmental intensity for all the companies in the 'Excel data'. We will be using data from previous years to predict the future environmental intesity. 

First, we will create the following columns:

1) Industry Indicator
- 1 if above the industry average in current year
- 0 if at industry average in current yeat
- (-1) if below the industry average in current year
2) Environmental Intensity Growth : ((Environmental Intensity in Current Year / Environmental Intensity Last Year) - 1) * 100

In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
import warnings
from sklearn import linear_model
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

In [14]:
df = pd.read_csv('Environmental_Impact_dataset.csv')
column_list = []
for column in df.columns:
    column_list.append(column.replace(' ', ''))
df.columns = column_list
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns')
df.head(3)

The dataset has 14515 rows and 9 columns

   Year         CompanyName  ... Industry_indicator Environmental_Growth
0  2016   1&1 DRILLISCH AG   ...                  1                  NaN
1  2010       3I GROUP PLC   ...                  1                  NaN
2  2011       3I GROUP PLC   ...                  1            33.333333

[3 rows x 9 columns]

In [15]:
df = df.iloc[:,0:6]
df.head()

   Year         CompanyName  ... EnvironmentalIntensity(Sales) Env_intensity
0  2016   1&1 DRILLISCH AG   ...                        -0.07%       -0.0007
1  2010       3I GROUP PLC   ...                        -0.12%       -0.0012
2  2011       3I GROUP PLC   ...                        -0.16%       -0.0016
3  2012       3I GROUP PLC   ...                        -0.15%       -0.0015
4  2010         3M COMPANY   ...                        -7.90%       -0.0790

[5 rows x 6 columns]

In [16]:
def percent_to_float(s):
    return float(s.strip('%')) / 100.0

replace_dict = {'(':'',')':'', ' ' : '', ',' : ''}
def paranthesis_to_minus(value):
    for i, j in replace_dict.items():
        value = value.replace(i, j)
    value = int(f'-{value}')
    return value

df['Env_intensity'] = df['EnvironmentalIntensity(Sales)'].apply(percent_to_float)

In [17]:
df.head()

   Year         CompanyName  ... EnvironmentalIntensity(Sales) Env_intensity
0  2016   1&1 DRILLISCH AG   ...                        -0.07%       -0.0007
1  2010       3I GROUP PLC   ...                        -0.12%       -0.0012
2  2011       3I GROUP PLC   ...                        -0.16%       -0.0016
3  2012       3I GROUP PLC   ...                        -0.15%       -0.0015
4  2010         3M COMPANY   ...                        -7.90%       -0.0790

[5 rows x 6 columns]

### Creating industry indicator

In [18]:
industry_avg = df.groupby('Industry(Exiobase)')[['Env_intensity']].mean().reset_index()
df['industry_avg'] = df['Env_intensity'].groupby(df['Industry(Exiobase)']).transform('mean')

In [19]:
def create_ind(df):
    if(df['Env_intensity'] > df['industry_avg']):
        return 1
    elif (df['Env_intensity'] == df['industry_avg']):
        return 0
    elif (df['Env_intensity'] < df['industry_avg']):
        return -1

df['Industry_indicator'] = df.apply(create_ind, axis = 1)
df.head()

   Year         CompanyName  ... industry_avg Industry_indicator
0  2016   1&1 DRILLISCH AG   ...    -0.018382                  1
1  2010       3I GROUP PLC   ...    -0.020072                  1
2  2011       3I GROUP PLC   ...    -0.020072                  1
3  2012       3I GROUP PLC   ...    -0.020072                  1
4  2010         3M COMPANY   ...    -0.117561                  1

[5 rows x 8 columns]

In [21]:
def create_ind_year(df):
    if(df['Env_intensity'] > df['industry_avg_year']):
        return 1
    elif (df['Env_intensity'] == df['industry_avg_year']):
        return 0
    elif (df['Env_intensity'] < df['industry_avg_year']):
        return -1

df['industry_avg_year'] = df.groupby(['Industry(Exiobase)','Year']).transform('mean')[['Env_intensity']]

df['Industry_indicator_year'] = df.apply(create_ind_year, axis = 1)
df.head()

#df['industry_avg_year']=df.groupby(['Industry(Exiobase)','Year'])['Env_intensity'].mean().reset_index()

   Year         CompanyName  ... industry_avg_year Industry_indicator_year
0  2016   1&1 DRILLISCH AG   ...         -0.011640                       1
1  2010       3I GROUP PLC   ...         -0.006402                       1
2  2011       3I GROUP PLC   ...         -0.009838                       1
3  2012       3I GROUP PLC   ...         -0.024437                       1
4  2010         3M COMPANY   ...         -0.084583                       1

[5 rows x 10 columns]

In [22]:
df.loc[(df['Industry(Exiobase)'] == 'Activities auxiliary to financial intermediation (67)'),:].sort_values(by='Year')

       Year  ... Industry_indicator_year
8166   2016  ...                       1
14368  2016  ...                       1
14123  2016  ...                       1
13738  2016  ...                      -1
12891  2016  ...                      -1
...     ...  ...                     ...
9736   2019  ...                      -1
10721  2019  ...                      -1
10077  2019  ...                      -1
11536  2019  ...                      -1
9666   2019  ...                       1

[93 rows x 10 columns]

### Creating Environmental growth

Environmental Intensity Growth : ((Environmental Intensity in Current Year / Environmental Intensity Last Year) - 1) * 100

In [23]:
df = df.sort_values(by=['CompanyName','Year'], ascending = True)
df.head()

   Year         CompanyName  ... industry_avg_year Industry_indicator_year
0  2016   1&1 DRILLISCH AG   ...         -0.011640                       1
1  2010       3I GROUP PLC   ...         -0.006402                       1
2  2011       3I GROUP PLC   ...         -0.009838                       1
3  2012       3I GROUP PLC   ...         -0.024437                       1
4  2010         3M COMPANY   ...         -0.084583                       1

[5 rows x 10 columns]

In [24]:
df['Environmental_Growth'] = df.groupby(['CompanyName'])['Env_intensity'].apply(lambda x: x.pct_change()).to_numpy() * 100
df.head()

   Year         CompanyName  ... Industry_indicator_year Environmental_Growth
0  2016   1&1 DRILLISCH AG   ...                       1                  NaN
1  2010       3I GROUP PLC   ...                       1                  NaN
2  2011       3I GROUP PLC   ...                       1            33.333333
3  2012       3I GROUP PLC   ...                       1            -6.250000
4  2010         3M COMPANY   ...                       1                  NaN

[5 rows x 11 columns]

### Model1-Yearly Average Industry

In [30]:
df_2020=df[df['Year'] == 2020]
print(df_2020)
#There is no data for 2020, so we plan to predict 2019
#Because industry environmental situation is related to general environment intensity, we thought should use the past years industry data to predict. Accordingly, we used 2018 and 2017 Industry data to predict 2019 evronmental intensity.
df_2018=df[df['Year'] == 2018]
df_2017=df[df['Year'] == 2017]

print(df_2018.info())
print(df_2017.info())

Empty DataFrame
Columns: [Year, CompanyName, Country, Industry(Exiobase), EnvironmentalIntensity(Sales), Env_intensity, industry_avg, Industry_indicator, industry_avg_year, Industry_indicator_year, Environmental_Growth]
Index: []
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1680 entries, 8091 to 14510
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           1680 non-null   int64
 1   CompanyName                    1680 non-null   object
 2   Country                        1680 non-null   object
 3   Industry(Exiobase)             1680 non-null   object
 4   EnvironmentalIntensity(Sales)  1680 non-null   object
 5   Env_intensity                  1680 non-null   float64
 6   industry_avg                   1680 non-null   float64
 7   Industry_indicator             1680 non-null   int64
 8   industry_avg_year              1680 non-null   float64
 9   Industry_indicator_year        1680 non-null   int64
 10  Environmental_Growth           1513 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 157.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1720 entries, 8090 to 14509
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           1720 non-null   int64
 1   CompanyName                    1720 non-null   object
 2   Country                        1720 non-null   object
 3   Industry(Exiobase)             1720 non-null   object
 4   EnvironmentalIntensity(Sales)  1720 non-null   object
 5   Env_intensity                  1720 non-null   float64
 6   industry_avg                   1720 non-null   float64
 7   Industry_indicator             1720 non-null   int64
 8   industry_avg_year              1720 non-null   float64
 9   Industry_indicator_year        1720 non-null   int64
 10  Environmental_Growth           1176 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 161.2+ KB
None

In [43]:
#Build up model dataframe with EnvironmentalIntensity2019, Ind_Yearavg2018, Ind_Yearavg2017
df_2019=df[df['Year'] == 2019]
df2019=df_2019[['Year','CompanyName','Env_intensity']] 
df2019.rename(columns={'Env_intensity': 'Env_intensity2019'}, inplace=True) 
df2018=df_2018[['CompanyName','industry_avg_year']]
df2018.rename(columns={'industry_avg_year': 'Ind_Yearavg2018'}, inplace=True) 
df2017=df_2017[['CompanyName','industry_avg_year']]
df2017.rename(columns={'industry_avg_year': 'Ind_Yearavg2017'}, inplace=True) 
mdl = pd.merge(df2019, df2018, on=["CompanyName"])
mdl1= pd.merge(mdl, df2017, on=["CompanyName"])
mdl1

      Year  ... Ind_Yearavg2017
0     2019  ...       -0.225496
1     2019  ...       -0.031771
2     2019  ...       -0.063618
3     2019  ...       -0.096157
4     2019  ...       -0.027254
...    ...  ...             ...
1190  2019  ...       -0.275385
1191  2019  ...       -0.068294
1192  2019  ...       -0.117456
1193  2019  ...       -0.578986
1194  2019  ...       -0.036006

[1195 rows x 5 columns]

In [46]:
X=mdl1[['Ind_Yearavg2018','Ind_Yearavg2017']]
y=mdl1['Env_intensity2019']

In [47]:
regr = linear_model.LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
regr.fit(X_train, y_train)
y_train_pred = np.exp(regr.predict(X_train))
y_pred = np.exp(regr.predict(X_test))
y_test = np.exp(y_test)

In [50]:
print('MSE train: %.3f, test: %.3f' % (metrics.mean_squared_error(y_train, y_train_pred),
                metrics.mean_squared_error(y_test, y_pred)))

MSE train: 1.064, test: 0.038

### Model2-Yearly Industry Indicator

In [58]:
X=df[['Industry_indicator_year']]
y=df['Env_intensity']

In [59]:
regr = linear_model.LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
regr.fit(X_train, y_train)
y_train_pred = np.exp(regr.predict(X_train))
y_pred = np.exp(regr.predict(X_test))
y_test = np.exp(y_test)

In [60]:
print('MSE train: %.3f, test: %.3f' % (metrics.mean_squared_error(y_train, y_train_pred),
                metrics.mean_squared_error(y_test, y_pred)))

MSE train: 1.084, test: 0.033

### Model3-Growth Rate

In [61]:
X=df[['Environmental_Growth']]
y=df['Env_intensity']

In [63]:
model_df = df[['Env_intensity','Environmental_Growth']].copy()
model_df.dropna(inplace = True)

x = model_df[['Env_intensity','Environmental_Growth']]
y = model_df['Env_intensity']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)
reg = LinearRegression().fit(X_train, y_train)

y_train_pred = np.exp(reg.predict(X_train))
y_pred = np.exp(reg.predict(X_test))
y_test = np.exp(y_test)

In [64]:
print('MSE train: %.3f, test: %.3f' % (metrics.mean_squared_error(y_train, y_train_pred),
                metrics.mean_squared_error(y_test, y_pred)))

MSE train: 1.071, test: 0.000