Load necessary libraries.

In [2]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import os

Load the tickers data.

In [5]:
tickers = pd.read_csv('Companydescription.csv') # load tickers.csv 
tickers

    Ticker  Description
0     1COV          NaN
1        A          NaN
2      AAL          NaN
3    AAL.L          NaN
4      AAP          NaN
..     ...          ...
863    ZBH          NaN
864   ZBRA          NaN
865   ZION          NaN
866    ZTS          NaN
867   ZURN          NaN

[868 rows x 2 columns]

In [8]:
boolean = tickers['Ticker'].duplicated().any() 
boolean

False

Loop through the tickers and get for each ticker a respective URL and business description. Note that for example purposes `ticker` variable is limited to the first 5 (`[:5]`) items, remove it if you want to run the loop for the whole sample. The loop for all observations might take 30+ minutes.

In [9]:
# Create a loop to store URLs of all stocks' description page
URL = [] # empty list for URLs
DES = [] # empty list for descriptions 
ticker = tickers['Ticker'] .head()
for i in ticker: 
  url ='https://finance.yahoo.com/quote/'+i+'/profile' 
  URL.append(url)
  page = requests.get(url) # visits the URL 
  htmldata = BeautifulSoup(page.content, 'html.parser')
  Business_Description = htmldata.find('p',{'class':'Mt(15px) Lh(1.6)'}) # finds the business description part in the HTML code
  DES.append(Business_Description)

In [10]:
# print(URL)
print(DES) # check the descriptions

[None, None, None, None, None]

Convert the results to pandas dataframe.

In [11]:
# Create new data frame that stores ticker, description of corresponding tickers 
company_des = pd.DataFrame({'ticker':ticker,'description':DES})
company_des.head()

  ticker description
0   1COV        None
1      A        None
2    AAL        None
3  AAL.L        None
4    AAP        None

Drop tickers with no descriptions. Convert the `description` variable to string.

Clean the data: remove NAs, convert to string and remove HTML code attributes.

In [ ]:
# Drop the stocks that do not have Yahoo Finance company profiles 
company_des.dropna(inplace=True)
company_des['description'] = company_des['description'].astype(str)

# Remove regex text from description using loop 
a = np.arange(1,300)
a = a.astype(str)
for i in a:
  company_des['description']=company_des['description'].str.replace('<p class="Mt(15px) Lh(1.6)" data-reactid="'+i+'">','',regex=False)

company_des['description']=company_des['description'].str.replace('</p>','',regex=False)

In [ ]:
# company_des.head()

Export the data

In [ ]:
# Export company_des into a csv file
company_des.to_csv(r'154stock_des.csv', index = False, header=True)

Define the function to transform the percentage into number in EI

In [13]:
def p2f(x):
    return float(x.strip('%'))/100

In [14]:
ind=pd.read_csv('Environmental_impact_cleaned.csv')
ind['EnvironmentalIntensity(Sales)'] = ind['EnvironmentalIntensity(Sales)'].apply(p2f)
y2018=list(ind[ind['Year'] == 2018]['EnvironmentalIntensity(Sales)'])
y2018=pd.Series(y2018)

In [26]:
from statsmodels.tsa.stattools import adfuller
X = y2018.values
result = adfuller(X)
split = round(len(X) / 2)
X1, X2 = X[0:split], X[split:]
mean1, mean2 = X1.mean(), X2.mean()
var1, var2 = X1.var(), X2.var()
print('mean1=%f, mean2=%f' % (mean1, mean2))
print('variance1=%f, variance2=%f' % (var1, var2))
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

mean1=-0.129262, mean2=-0.101468
variance1=0.094017, variance2=0.052920
ADF Statistic: -24.980342
p-value: 0.000000
Critical Values:
	1%: -3.434
	5%: -2.863
	10%: -2.568

In [25]:
y2017=list(ind[ind['Year'] == 2017]['EnvironmentalIntensity(Sales)'])
y2017=pd.Series(y2017)
from statsmodels.tsa.stattools import adfuller
X = y2017.values
result = adfuller(X)
split = round(len(X) / 2)
X1, X2 = X[0:split], X[split:]
mean1, mean2 = X1.mean(), X2.mean()
var1, var2 = X1.var(), X2.var()
print('mean1=%f, mean2=%f' % (mean1, mean2))
print('variance1=%f, variance2=%f' % (var1, var2))
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

mean1=-0.123985, mean2=-0.108138
variance1=0.089221, variance2=0.063000
ADF Statistic: -26.071015
p-value: 0.000000
Critical Values:
	1%: -3.434
	5%: -2.863
	10%: -2.568

In [19]:
y2016=list(ind[ind['Year'] == 2016]['EnvironmentalIntensity(Sales)'])
y2016=pd.Series(y2016)
from statsmodels.tsa.stattools import adfuller
X = y2016.values
result = adfuller(X)
split = round(len(X) / 2)
X1, X2 = X[0:split], X[split:]
mean1, mean2 = X1.mean(), X2.mean()
var1, var2 = X1.var(), X2.var()
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
print('mean1=%f, mean2=%f' % (mean1, mean2))
print('variance1=%f, variance2=%f' % (var1, var2))
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

ADF Statistic: -38.998411
p-value: 0.000000
Critical Values:
mean1=-0.128953, mean2=-0.113759
variance1=0.084427, variance2=0.066553
	1%: -3.434
	5%: -2.863
	10%: -2.568

In [24]:
y2015=list(ind[ind['Year'] == 2015]['EnvironmentalIntensity(Sales)'])
y2015=pd.Series(y2015)
from statsmodels.tsa.stattools import adfuller
X = y2015.values
result = adfuller(X)
split = round(len(X) / 2)
X1, X2 = X[0:split], X[split:]
mean1, mean2 = X1.mean(), X2.mean()
var1, var2 = X1.var(), X2.var()
print('mean1=%f, mean2=%f' % (mean1, mean2))
print('variance1=%f, variance2=%f' % (var1, var2))
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

mean1=-0.128073, mean2=-0.112539
variance1=0.072975, variance2=0.066954
ADF Statistic: -25.147693
p-value: 0.000000
Critical Values:
	1%: -3.435
	5%: -2.863
	10%: -2.568

In [23]:
y2014=list(ind[ind['Year'] == 2014]['EnvironmentalIntensity(Sales)'])
y2014=pd.Series(y2014)
from statsmodels.tsa.stattools import adfuller
X = y2014.values
result = adfuller(X)
split = round(len(X) / 2)
X1, X2 = X[0:split], X[split:]
mean1, mean2 = X1.mean(), X2.mean()
var1, var2 = X1.var(), X2.var()
print('mean1=%f, mean2=%f' % (mean1, mean2))
print('variance1=%f, variance2=%f' % (var1, var2))
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

mean1=-0.113915, mean2=-0.100781
variance1=0.062142, variance2=0.055520
ADF Statistic: -15.509563
p-value: 0.000000
Critical Values:
	1%: -3.435
	5%: -2.864
	10%: -2.568

In [27]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14515 entries, 0 to 14514
Data columns (total 39 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ISIN                                                    14515 non-null  object
 1   Year                                                    14515 non-null  int64
 2   CompanyName                                             14515 non-null  object
 3   Country                                                 14515 non-null  object
 4   Industry(Exiobase)                                      14515 non-null  object
 5   EnvironmentalIntensity(Sales)                           14515 non-null  float64
 6   EnvironmentalIntensity(OpInc)                           13700 non-null  object
 7   TotalEnvironmentalCost                                  14515 non-null  object
 8   WorkingCapacity                                         14515 non-null  object
 9   FishProductionCapacity                                  14515 non-null  object
 10  CropProductionCapacity                                  14515 non-null  object
 11  MeatProductionCapacity                                  14515 non-null  object
 12  Biodiversity                                            14515 non-null  object
 13  AbioticResources                                        14515 non-null  object
 14  Waterproductioncapacity(Drinkingwater&IrrigationWater)  14515 non-null  object
 15  WoodProductionCapacity                                  14515 non-null  object
 16  SDG1.5                                                  14515 non-null  object
 17  SDG2.1                                                  14515 non-null  object
 18  SDG2.2                                                  14515 non-null  object
 19  SDG2.3                                                  14515 non-null  object
 20  SDG2.4                                                  14515 non-null  object
 21  SDG3.3                                                  14515 non-null  object
 22  SDG3.4                                                  14515 non-null  object
 23  SDG3.9                                                  14515 non-null  object
 24  SDG6                                                    14515 non-null  object
 25  SDG12.2                                                 14515 non-null  object
 26  SDG14.1                                                 14515 non-null  object
 27  SDG14.2                                                 14515 non-null  object
 28  SDG14.3                                                 14515 non-null  object
 29  SDG14.c                                                 14515 non-null  object
 30  SDG15.1                                                 14515 non-null  object
 31  SDG15.2                                                 14515 non-null  object
 32  SDG15.5                                                 14515 non-null  object
 33  %Imputed                                                14515 non-null  object
 34  Env_intensity                                           14515 non-null  float64
 35  industry_avg                                            14515 non-null  float64
 36  industry_avg_year                                       14515 non-null  float64
 37  Industry_indicator_year                                 14515 non-null  int64
 38  Environmental_Growth                                    11924 non-null  float64
dtypes: float64(5), int64(2), object(32)
memory usage: 4.3+ MB

In [28]:
ind.head()

           ISIN  Year  ... Industry_indicator_year Environmental_Growth
0  DE0005545503  2016  ...                       1                  NaN
1  GB00B1YW4409  2010  ...                       1                  NaN
2  GB00B1YW4409  2011  ...                       1            33.333333
3  GB00B1YW4409  2012  ...                       1            -6.250000
4  US88579Y1010  2010  ...                       1                  NaN

[5 rows x 39 columns]

In [34]:
y2018=list(ind[ind['Year'] == 2018][['industry_avg','Env_intensity']])
y2018=pd.Series(y2018)
from statsmodels.tsa.stattools import adfuller
X = y2018.values
result = adfuller(X)
split = round(len(X) / 2)
X1, X2 = X[0:split], X[split:]
mean1, mean2 = X1.mean(), X2.mean()
var1, var2 = X1.var(), X2.var()
print('mean1=%f, mean2=%f' % (mean1, mean2))
print('variance1=%f, variance2=%f' % (var1, var2))
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

ValueError: ignored

In [31]:
ind.groupby('Industry(Exiobase)')['EnvironmentalIntensity(Sales)'].count().sort_values()

Industry(Exiobase)
Cultivation of cereal grains nec                                                                                          1
Forestry, logging and related service activities (02)                                                                     5
Sea and coastal water transport                                                                                           6
Education (80)                                                                                                            6
Production of electricity by petroleum and other oil derivatives                                                         12
Mining of coal and lignite; extraction of peat (10)                                                                      15
Manufacture of tobacco products (16)                                                                                     22
Copper production                                                                                                        22
Manufacture of furniture; manufacturing n.e.c. (36)                                                                      22
Publishing, printing and reproduction of recorded media (22)                                                             32
Wholesale trade and commission trade, except of motor vehicles and motorcycles (51)                                      37
Transport via pipelines                                                                                                  39
Production of electricity by solar photovoltaic                                                                          41
N-fertiliser                                                                                                             42
Manufacture of basic iron and steel and of ferro-alloys and first products thereof                                       45
Manufacture of wearing apparel; dressing and dyeing of fur (18)                                                          47
Transport via railways                                                                                                   48
Manufacture of textiles (17)                                                                                             51
Health and social work (85)                                                                                              51
Collection, purification and distribution of water (41)                                                                  53
Sale, maintenance, repair of motor vehicles, motor vehicles parts, motorcycles, motor cycles parts and accessoiries      62
Production of electricity by hydro                                                                                       71
Extraction of natural gas and services related to natural gas extraction, excluding surveying                            91
Other land transport                                                                                                    117
Manufacture of rubber and plastic products (25)                                                                         123
Insurance and pension funding, except compulsory social security (66)                                                   140
Research and development (73)                                                                                           147
Renting of machinery and equipment without operator and of personal and household goods (71)                            147
Petroleum Refinery                                                                                                      192
Paper                                                                                                                   196
Air transport (62)                                                                                                      200
Mining of other non-ferrous metal ores and concentrates                                                                 233
Activities of membership organisation n.e.c. (91)                                                                       235
Manufacture of beverages                                                                                                258
Activities auxiliary to financial intermediation (67)                                                                   263
Recreational, cultural and sporting activities (92)                                                                     272
Manufacture of radio, television and communication equipment and apparatus (32)                                         274
Mining of chemical and fertilizer minerals, production of salt, other mining and quarrying n.e.c.                       303
Manufacture of motor vehicles, trailers and semi-trailers (34)                                                          341
Manufacture of machinery and equipment n.e.c. (29)                                                                      364
Chemicals nec                                                                                                           414
Manufacture of office machinery and computers (30)                                                                      423
Manufacture of fabricated metal products, except machinery and equipment (28)                                           433
Production of electricity nec                                                                                           444
Quarrying of sand and clay                                                                                              481
Extraction of crude petroleum and services related to crude oil extraction, excluding surveying                         496
Computer and related activities (72)                                                                                    507
Processing of Food products nec                                                                                         531
Other service activities (93)                                                                                           558
Post and telecommunications (64)                                                                                        599
Manufacture of medical, precision and optical instruments, watches and clocks (33)                                      601
Retail trade, except of motor vehicles and motorcycles; repair of personal and household goods (52)                     682
Real estate activities (70)                                                                                             697
Construction (45)                                                                                                       729
Manufacture of electrical machinery and apparatus n.e.c. (31)                                                           765
Financial intermediation, except insurance and pension funding (65)                                                    1529
Name: EnvironmentalIntensity(Sales), dtype: int64

Top five industries:

Retail trade, except of motor vehicles and motorcycles; repair of personal and household goods (52)                    
Real estate activities(70)                                                                                    
Construction (45)                                                 
Manufacture of electrical machinery and apparatus n.e.c. (31)                                                 
Financial intermediation, except insurance and pension funding (65)