In [1]:
#upload file
from google.colab import files
uploaded = files.upload()

Saving Final-Sample-External-1.xlsx - Final Raw Sample(0%).csv to Final-Sample-External-1.xlsx - Final Raw Sample(0%).csv

Import some useful libiaries

In [2]:
# import libiaries:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn import datasets, linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm


Read the file in dataframe and get some insights of the data

In [3]:
# Read data
df = pd.read_csv('/content/Final-Sample-External-1.xlsx - Final Raw Sample(0%).csv')
df.head()

    Year        Company Name         Country   ...  SDG 15.2   SDG 15.5  % Imputed
0    2019            Saga plc  United Kingdom  ...        71     (1,297)        1%
1    2019  BURSA MALAYSIA BHD        Malaysia  ...        10        (79)        4%
2    2019  INTERTEK GROUP PLC  United Kingdom  ...       254     (2,470)        1%
3    2019         JSE LIMITED    South Africa  ...        (3)       (93)        2%
4    2019   BUREAU VERITAS SA          France  ...       586     (1,633)        3%

[5 rows x 33 columns]

Clean out the column names and format columns from the csv to float.

In [4]:
column_list = []
for column in df.columns:
    column_list.append(column.replace(' ', ''))
df.columns = column_list
df = df[['Year', 'Country', 'Industry(Exiobase)', 'EnvironmentalIntensity(Sales)', 'TotalEnvironmentalCost']]

def percent_to_float(s):
    return float(s.strip('%')) / 100.0

df['EnvironmentalIntensity(Sales)'] = df['EnvironmentalIntensity(Sales)'].apply(percent_to_float)

replace_dict = {'(':'',')':'', ' ' : '', ',' : ''}
def paranthesis_to_minus(value):
    for i, j in replace_dict.items():
        value = value.replace(i, j)
    value = int(f'-{value}')
    return value

df['TotalEnvironmentalCost'] = df['TotalEnvironmentalCost'].apply(paranthesis_to_minus)

Industry:

In [5]:
#create dummies for industry:
df = pd.get_dummies(df, columns = ['Industry(Exiobase)'])

x = df.drop(columns = ['Year',  'EnvironmentalIntensity(Sales)', 'TotalEnvironmentalCost','Country'])
y = df['EnvironmentalIntensity(Sales)']

In [6]:
#fit the models:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
OLS_VS = sm.OLS(y_train, x_train).fit()
y_pred = OLS_VS.predict(x_test)
r2_score(y_test, y_pred)

0.42383046486967446

Create models and see the R^2

In [ ]:
OLS_CV = linear_model.LinearRegression()
lasso = linear_model.Lasso()
ridge = linear_model.Ridge()

OLS_CV.fit(x_train, y_train)
y_pred = OLS_CV.predict(x_test)
r2_score(y_test, y_pred)

print(cross_val_score(OLS_CV, x_train, y_train, cv=3, scoring = 'r2'))
print(cross_val_score(lasso, x_train, y_train, cv=3, scoring = 'r2'))
print(cross_val_score(ridge, x_train, y_train, cv=3, scoring = 'r2'))

array([0.4122486 , 0.45000816, 0.37792929])

In [ ]:
#Try more on  Ridge
ridge2 = Ridge(alpha = 4, normalize = True)
ridge2.fit(x_train, y_train)             # Fit a ridge regression on the training data
pred2 = ridge2.predict(x_test)           # Use this model to predict the test data
print(pd.Series(ridge2.coef_, index = x.columns)) # Print coefficients
print(mean_squared_error(y_test, pred2))          # Calculate the test MSE when alpha=4

Industry(Exiobase)_ Activities auxiliary to financial intermediation (67)                                                                 0.021627
Industry(Exiobase)_ Activities of membership organisation n.e.c. (91)                                                                    -0.003045
Industry(Exiobase)_ Air transport (62)                                                                                                   -0.016925
Industry(Exiobase)_ Chemicals nec                                                                                                        -0.006742
Industry(Exiobase)_ Collection, purification and distribution of water (41)                                                              -0.000014
                                                                                                                                            ...
Industry(Exiobase)_Sale, maintenance, repair of motor vehicles, motor vehicles parts, motorcycles, motor cycles parts and accessoiries    0.010843
Industry(Exiobase)_Sea and coastal water transport                                                                                        0.122277
Industry(Exiobase)_Transport via pipelines                                                                                                0.017385
Industry(Exiobase)_Transport via railways                                                                                                 0.015842
Industry(Exiobase)_Wholesale trade and commission trade, except of motor vehicles and motorcycles (51)                                    0.020405
Length: 111, dtype: float64
0.059894799321618813

In [ ]:
#MSE decreases when alpha=0
ridge2 = Ridge(alpha = 0, normalize = True)
ridge2.fit(x_train, y_train)             # Fit a ridge regression on the training data
pred = ridge2.predict(x_test)            # Use this model to predict the test data
print(pd.Series(ridge2.coef_, index = x.columns)) # Print coefficients
print(mean_squared_error(y_test, pred))           # Calculate the test MSE

Industry(Exiobase)_ Activities auxiliary to financial intermediation (67)                                                                -2.453817e+11
Industry(Exiobase)_ Activities of membership organisation n.e.c. (91)                                                                    -2.453817e+11
Industry(Exiobase)_ Air transport (62)                                                                                                   -2.453817e+11
Industry(Exiobase)_ Chemicals nec                                                                                                        -2.453817e+11
Industry(Exiobase)_ Collection, purification and distribution of water (41)                                                              -2.453817e+11
                                                                                                                                              ...
Industry(Exiobase)_Sale, maintenance, repair of motor vehicles, motor vehicles parts, motorcycles, motor cycles parts and accessoiries   -2.453817e+11
Industry(Exiobase)_Sea and coastal water transport                                                                                       -2.453817e+11
Industry(Exiobase)_Transport via pipelines                                                                                               -2.453817e+11
Industry(Exiobase)_Transport via railways                                                                                                -2.453817e+11
Industry(Exiobase)_Wholesale trade and commission trade, except of motor vehicles and motorcycles (51)                                   -2.453817e+11
Length: 111, dtype: float64
0.04112815584034086

In [ ]:
alphas = 10**np.linspace(10,-2,100)*0.5
ridgecv = RidgeCV(alphas = alphas, scoring = 'neg_mean_squared_error', normalize = True)
ridgecv.fit(x_train, y_train)
ridgecv.alpha_
ridge4 = Ridge(alpha = ridgecv.alpha_, normalize = True)
ridge4.fit(x_train, y_train)
mean_squared_error(y_test, ridge4.predict(x_test))

0.041081885447914544

In [ ]:
# Try more on Lasso:
lassoo = Lasso(max_iter = 10000, normalize = True)
coefs = []

for a in alphas:
    lassoo.set_params(alpha=a)
    lassoo.fit(scale(x_train), y_train)
    coefs.append(lassoo.coef_)
lassocv = LassoCV(alphas = None, cv = 2, max_iter = 100000, normalize = True)
lassocv.fit(x_train, y_train)

lassoo.set_params(alpha=lassocv.alpha_)
lassoo.fit(x_train, y_train)
mean_squared_error(y_test, lassoo.predict(x_test))

0.041027083105413094

Look through the coefficients

In [ ]:
pd.Series(lassoo.coef_, index=x.columns)

Industry(Exiobase)_ Activities auxiliary to financial intermediation (67)                                                                 0.029521
Industry(Exiobase)_ Activities of membership organisation n.e.c. (91)                                                                    -0.068206
Industry(Exiobase)_ Air transport (62)                                                                                                   -0.137043
Industry(Exiobase)_ Chemicals nec                                                                                                        -0.089564
Industry(Exiobase)_ Collection, purification and distribution of water (41)                                                              -0.040698
                                                                                                                                            ...
Industry(Exiobase)_Sale, maintenance, repair of motor vehicles, motor vehicles parts, motorcycles, motor cycles parts and accessoiries   -0.000000
Industry(Exiobase)_Sea and coastal water transport                                                                                        0.448792
Industry(Exiobase)_Transport via pipelines                                                                                                0.000000
Industry(Exiobase)_Transport via railways                                                                                                 0.000000
Industry(Exiobase)_Wholesale trade and commission trade, except of motor vehicles and motorcycles (51)                                    0.001600
Length: 111, dtype: float64

In [7]:
#Random Forest
X, y = make_regression(n_features=4, n_informative=2,
                       random_state=0, shuffle=False)
regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(x_train, y_train)

y_pred = regr.predict(x_test)
print('Random Forest:', r2_score(y_test, y_pred))

Random Forest: 0.21186651783225197